@import '../../../../shared/assets/styles/variables';

:host {
    width: 100%;
    min-height: 58px;
    .vessel-popup-header {
        padding-left: $padding-middle;
        display: flex;
        margin-top: $margin-middle;
        padding-bottom: $padding-small;
        align-items: center;
        justify-content: space-between;

        .icon-table {
            margin-right: $margin-middle;
        }

        .vessel-name {
            font-size: 18px;
            color: var(--prim-text-color);
        }

        .vessel-type {
            font-size: 14px;
            color: var(--subdetails-caption-text-color);
            line-height: 1;
        }

        > div:nth-child(2) {
            display: flex;
            align-items: center;
        }
    }
}
